@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$bg-primary: #3e3f3a;
$bg-light: #fff;

$font-light: #fff;
$font-dark: #000;
$ff-primary: 'Merriweather', serif;

$btn-primary: #325d88;
$btn-secondary: #8e8c84;
$btn-warning: #f47c3c;
$btn-danger: #d9534f;

$box-shadow: 0px 3px 5px 0.5px rgba(0, 0, 0, 0.3);

$screen-md: 576px;
