@use './variables' as *;

@media (min-width: $screen-md) {
    :root {
        font-size: 62.5%;
    }
    .flex-md-row {
        flex-direction: row;
    }

    .calorie-form__submit {
        margin-left: 0;
        margin-right: 0;
    }

    .calorie-form__submit-group {
        > button {
            margin-right: 1rem;
        }
    }
}
